priority -40

# There has already `ifmain` work like this
# snippet ifname "If __name__ == '__main__'" b
# if __name__ == '__main__':
	# ${1:foo}()
# $0
# endsnippet

snippet endalarm "Description" b
os.system('notify-send -u critical "Program Executing Ended"')
os.system('aplay -q ~/Music/dudulu/嘟嘟噜_最佳化音量.wav')
endsnippet

